

#row2{
    margin-top: 50px;
}
.premiu{
    margin-left: 50px;
    font-size: 80px;
    color: brown;
    margin-top: 150px;
    font-weight: bold;
}
.premium{
    font-size: 80px;
    color: brown;
    font-weight: bold;
}
.premiumy{
    font-size: 80px;
    color: brown;
    font-weight: bold;
    margin-left: 200px;
}